<section class="cta-subpages">
  <div class="cta-subpages__left cta-subpages__left--{{ page.ctaSubpagesLeft.backgroundImage }}">
    <h2 class="cta-subpages__heading">{{ page.ctaSubpagesLeft.heading }}</h2>
    <p class="cta-subpages__text">{{ page.ctaSubpagesLeft.text }}</p>
    <a class="cta-subpages__button button" href="{{ page.ctaSubpagesLeft.buttonLink }}">{{ page.ctaSubpagesLeft.button }}</a>
  </div>
  <div class="cta-subpages__right cta-subpages__right--{{ page.ctaSubpagesRight.backgroundImage }}">
    <h2 class="cta-subpages__heading">{{ page.ctaSubpagesRight.heading }}</h2>
    <p class="cta-subpages__text">{{ page.ctaSubpagesRight.text }}</p>
    <a class="cta-subpages__button button" href="{{ page.ctaSubpagesRight.buttonLink }}">{{ page.ctaSubpagesRight.button }}</a>
  </div>
</section>
