<footer class="footer">
  <div class="footer__container">
    <div class="footer__sponsors">
      <a target="_blank" href="http://iuhealth.org/"><img src="/assets/images/IUH_logo.svg" alt="IUhealth Logo"></a>
      <a target="_blank" href="http://www.indianapolismotorspeedway.com/"><img src="/assets/images/IMS_logo.svg" alt="IMS Logo"></a>
      <a target="_blank" href="http://www.indianapolismotorspeedway.com/events/indy500/"><img src="/assets/images/indy5_logo.svg" alt="INDY 500 Logo"></a>
      <a target="_blank" href="http://www.indycar.com/"><img src="/assets/images/ver_logo.svg" alt="Verizon Logo"></a>
    </div>
    <div class="footer__social">
      <a target="_blank" href="https://www.facebook.com/revindyevent/"><img src="/assets/images/facebook_social.svg" alt="Facebook Logo"></a>
      <a target="_blank" href="https://twitter.com/revindyevent/"><img src="/assets/images/twitter_social.svg" alt="Twitter Logo"></a>
      <a target="_blank" href="https://www.instagram.com/RevIndyEvent/"><img src="/assets/images/Insta_social.svg" alt="Instagram Logo"></a>
    </div>
  </div>
</footer>
