<section class="image-gallery">
  <div class="image-gallery__wrapper">
    <div class="image-gallery__pair">
      <div class="image-gallery__col">
        <a data-image href="/assets/images/gallery/full/guitar-man.jpg">
          <img src="/assets/images/gallery/thumb/guitar-man.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/fire-heater.jpg">
          <img src="/assets/images/gallery/thumb/fire-heater.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/selfie.jpg">
          <img src="/assets/images/gallery/thumb/selfie.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/mega-brain.jpg">
          <img src="/assets/images/gallery/thumb/mega-brain.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/car-cake.jpg">
          <img src="/assets/images/gallery/thumb/car-cake.png" alt="">
        </a>
      </div>
      <div class="image-gallery__col">
        <a data-image href="/assets/images/gallery/full/mic-man.jpg">
          <img src="/assets/images/gallery/thumb/mic-man.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/whisky-milk.jpg">
          <img src="/assets/images/gallery/thumb/whisky-milk.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/drummer.jpg">
          <img src="/assets/images/gallery/thumb/drummer.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/volunteers.jpg">
          <img src="/assets/images/gallery/thumb/volunteers.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/bright-lights-big-city.jpg">
          <img src="/assets/images/gallery/thumb/bright-lights-big-city.png" alt="">
        </a>
      </div>
    </div>
    <div class="image-gallery__pair">
      <div class="image-gallery__col">
        <a data-image href="/assets/images/gallery/full/wasser-color.jpg">
          <img src="/assets/images/gallery/thumb/wasser-color.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/trophy-time.jpg">
          <img src="/assets/images/gallery/thumb/trophy-time.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/brickyard.jpg">
          <img src="/assets/images/gallery/thumb/brickyard.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/horderves.jpg">
          <img src="/assets/images/gallery/thumb/horderves.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/barreled-liquor.jpg">
          <img src="/assets/images/gallery/thumb/barreled-liquor.png" alt="">
        </a>
      </div>
      <div class="image-gallery__col">
        <a data-image href="/assets/images/gallery/full/announcement.jpg">
          <img src="/assets/images/gallery/thumb/announcement.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/cup-cakes.jpg">
          <img src="/assets/images/gallery/thumb/cup-cakes.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/indy-car.jpg">
          <img src="/assets/images/gallery/thumb/indy-car.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/brass-section.jpg">
          <img src="/assets/images/gallery/thumb/brass-section.png" alt="">
        </a>
        <a data-image href="/assets/images/gallery/full/us-foods.jpg">
          <img src="/assets/images/gallery/thumb/us-foods.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <a class=" image-gallery__load-more-button button" target="_blank" href="http://www.revimages.com/"> View More Photos </a>
</section>
