.large-bg-text {
  width: 100%;
  min-height: 30rem;
  position: absolute;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--home {
    background-image: url("/assets/images/drive.svg");
  }

  &--experience {
    background-image: url("/assets/images/relive-rev.svg");
  }

  &--chefs {
    background-image: url("/assets/images/featured-chefs.svg");
  }

  &--top {
    top: 28rem;
  }

  &--middle {
    top: 70rem;
  }

  &--bottom  {
    top: 134rem;
    z-index: 1;
  }
}
